
body{
    font-family: 'Montserrat';
    text-align: center; 
}

/*Headings*/

.big-heading{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 600;
}


p{
    color: #8f8f8f;
}

/*containers*/

.container-fluid{
  padding: 7% 15%;  
}

#title .container-fluid{
    padding: 3% 15% 7%;
}
/* title section*/

.download-button{
    margin: 5% 3% 5% 0;
}

#title{
    background-color: #ff4c68;
    text-align: left;
}

.phone {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    margin-right: 30%;
}

/* navegation bar*/

.navbar{
    padding:0 0 4.5rem;

}

.navbar-brand{
    font-family: 'ubuntu';
    font-size: 2.5rem;
  
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.5rem;
    font-weight: 300;
}

/*feature section*/

#features{
    background-color: white;
    position: relative;
    z-index: 1;  
}
.feature-title{
    font-size: 1.5rem;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;    
}

.icon:hover{
    color: #ff4c68;
}

.icon-feature{
   
    padding: 5%;
   
}

/*testimonials section*/

#testimonials {
    background-color: #ef8172;
    color: white;
   
}

.testimonials-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

#press {
    background-color: #ef8172;
    
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 15px;
}

/*pricing section*/

#pricing{
    padding: 100px;
  
}

.pricing-colum{
    padding: 3% 2%;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* cta section*/

#cta{
    background-color: #ff4c68;
    color: #fff;
}

/* footer */

.footer-icon{
    margin: 5px 10px 30px ;
 
}

/* mobile & tablet screen*/

@media (max-width: 1028px){
    #title {
        text-align: center;
    
    }
    .phone{
        position: static;
        transform: rotate(0);
        margin: auto;
    }
}
    